body{
    background-color:#fdfdfd;
}
.circular-progress{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(0deg,#fdfdfd 50%, #c4e6ce 50%);
    position: relative;
}
.circular-progress::before{
    width: 12rem;
    height: 12rem;
    position: absolute;
    top:0 ;
    left: 0;
    background: #fdfdfd content-box;
    padding: .5em;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 2rem;
    color: rgb(26, 26, 31);
    text-align: center;
    line-height: 8rem;
}
.bg-black-50{
    background-color: #0c0b0b57;
}
.rounded-top-grand{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.rounded-bottom-grand{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.rounded-grand{
    border-radius: 1rem;
}
.svg{
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    min-height:8rem;
    max-height:8.1rem;
}
.bike{
    background-image: url('../img/bike_88253.svg');
}
.earth{
    background-image: url('../img/day-and-night.svg');
}
.money{
    background-image: url('../img/inflation_icon_155908.svg');
}
.cursor-pointer{
    cursor: pointer;
}
.bg-light-green{
    background-color:#c4e6ce;
}
