/*Autor:Andres Marquez
Mi portafolio: https://andresmarquez.herokuapp.com/
Proyecto: Papper*/

@import url("../fontawesome/css/all.min.css");
@import url("../fontawesome/css/regular.min.css");
@import url("../fontawesome/css/brands.min.css");
@import url("../fontawesome/css/v4-shims.min.css");
@import url("../fontawesome/css/solid.min.css");
@import url("../alertify/css/alertify.css");
:root {
    /* #7b062f */
    /* #fb9396 */
    /* #eca0bc */
    --primary-color: 177, 120, 231;
    --primary-color-hover: #8758c5;
    --shadow-primary-color: #cf9dff40;
    --secondary-color: #1895cf;
    --primary-white: #e24bba;
    --secondary-white: #1895cf;
    --white: white;
}

body {
    font-size: 1.1rem;
    color: #2a2a34;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.btn {
    font-size: 1.1rem;
}

ul li {
    font-size: 1.1rem !important;
}

.img_home {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.list-group-item {
    border: 0;
}

.index {
    z-index: 10;
}

.text-dark {
    color: #484e53 !important;
}

.bg-purple {
    background-color: rgb(var(--primary-color)) !important;
}

.bg-purple-blue {
    transition: .6s background-color ease-in-out;
    background-color: rgb(var(--primary-color)) !important;
}

.bg-purple-blue-2 {
    transition: .6s background-color ease-in-out;
    background-color: rgb(var(--primary-color)) !important;
}

.top {
    transition: .6s background-color ease-in-out;
    background-color: #3d154000;
}

.rounded-xl {
    border-radius: 3rem !important;
    -webkit-border-radius: 3rem !important;
    -moz-border-radius: 3rem !important;
    -ms-border-radius: 3rem !important;
    -o-border-radius: 3rem !important;
}

.form-control {
    border-color: rgba(205, 190, 214, 0.247);
    border-width: 4px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem #a460fd38;
    border-color: transparent;
    background-color: #fafafa;
    transition: backgroun-color .5s ease-in-out;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.border-white-50 {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-light-50 {
    background-color: #f8f9fa78 !important;
}

.bg-black-30 {
    background-color: #1513135e;
}

.list-group-item {
    border-radius: .2rem;
}

.list-group-item:hover {
    background-color: rgba(var(--primary-color), 0.15) !important;
    cursor: pointer;
}

.shadow-bottom {
    box-shadow: -2px 15px 1rem rgba(193, 198, 238, 0.21) !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--white);
    background-image: linear-gradient(90deg, var(--secondary-color), var(--secondary-white));
    ;
    border-color: transparent;
}

.page-link:hover {
    z-index: 2;
    color: var(--white);
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(var(--primary-color)), var(--primary-white));
    border-color: transparent;
}

.btn-outline-primary:hover {
    color: var(--white);
    background-image: linear-gradient(90deg, var(--secondary-color), var(--secondary-white));
    border-color: var(--secondary-color);
}

.btn-outline-primary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.navbar-toggler {
    border-radius: 0.25rem;
    border-color: #f8f9fa;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d_sm_block {
    display: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.text-decoration:hover {
    text-decoration: underline;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.dropdown-item {
    white-space: inherit;
}

.opacity-0 {
    opacity: 0;
}

.spinner-border {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    vertical-align: text-bottom;
    border: .5em solid rgb(var(--primary-color));
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.small-hora {
    font-size: 73% !important;
    position: relative;
    top: -6px;
}

.comment {
    word-break: break-all;
}

.h-3rem {
    height: 3rem;
}

@keyframes spinner-border {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:760px) {
    .w-75-90 {
        width: 75%;
    }
    .w-50-100 {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .w-50-75 {
        width: 50%;
    }
    .position-fixed-md {
        position: fixed !important;
    }
}

@media (max-width:576px) {
    .d_sm_none {
        display: none !important;
    }
    .d_sm_block {
        display: block;
    }
    .mb-sm-5 {
        margin-bottom: 3rem;
    }
    .pb-xs-3 {
        padding-bottom: 1.5rem;
    }
}

@media (max-height: 470px) {
    .paddin_height {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-height: 460px) {
    .paddin_height {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
}

@media(min-height:100px) {
    .h-sm-3rem {
        height: auto;
    }
}

.router-link-exact-active {
    color: rgb(var(--primary-color)) !important;
}

.list-group-item {
    background-color: #ffffffb7 !important;
    color: rgba(44, 42, 58, 0.856);
}

.bg-light-50 {
    background-color: #f8f9fa96 !important;
}

.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}

.input-group>.input-group-append>.btn {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}

.btn-primary {
    color: #fff;
    background-color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    box-shadow: 0 0 0 0.2rem rgba(221, 49, 169, 0.315);
}


/*Autor:Andres Marquez
Mi portafolio: https://andresmarquez.herokuapp.com/
Proyecto: Papper*/

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: #a63297;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 49, 169, 0.315);
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

html body .waves-notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-block {
    display: block;
}


/*Autor:Andres Marquez
Mi portafolio: https://andresmarquez.herokuapp.com/
Proyecto: Papper*/

.card-preg {
    overflow: hidden;
    background-color: #fffffff6;
    box-shadow: 1px 12px 14px -10px var(--shadow-primary-color);
    position: relative;
    border-radius: 0.7rem !important;
    z-index: 0;
}

.card-comentari {
    box-shadow: inset 0px 0px 20px -16px rgb(var(--primary-color)), 1px 12px 14px -16px #b5abab29;
    border-radius: .4rem;
}

.card-login {
    background-color: #fffffff6;
    box-shadow: 1px 12px 14px -10px var(--shadow-primary-color);
}

@media (max-width: 720px) {
    .card-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ss-small {
    font-size: 75%;
}

@media (min-height: 400px) {
    .height-md {
        min-height: calc(100vh - 4.5rem);
    }
}

.bg-purble-90 {
    background-color: #f9f3fd;
}

.modal-header {
    border-bottom: 0;
}

.modal-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-content {
    border-radius: 1rem;
}

.dropdown-item {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}

.dropdown-item:active {
    background-color: rgb(var(--primary-color), 75%);
    color: white !important;
}

.modal-footer {
    justify-content: start;
    padding-top: 0;
    border: 0;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0) !important;
}

.no-hover:hover {
    background-color: transparent !important;
}

.dropdown-item {
    color: rgb(18, 9, 27) !important;
}

.img-home img {
    width: 100%;
}

.w-100 {
    width: 100% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-85 {
    width: 85% !important;
}

.w-75 {
    width: 75% !important;
}

.w-65 {
    width: 65% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

@media (min-width: 553px) {
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-90 {
        width: 90% !important;
    }
    .w-sm-95 {
        width: 95% !important;
    }
    .w-sm-85 {
        width: 85% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    .w-sm-65 {
        width: 65% !important;
    }
    .w-sm-60 {
        width: 60% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-40 {
        width: 40% !important;
    }
}

@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }
    .w-md-90 {
        width: 90% !important;
    }
    .w-md-95 {
        width: 95% !important;
    }
    .w-md-85 {
        width: 85% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-65 {
        width: 65% !important;
    }
    .w-md-60 {
        width: 60% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-40 {
        width: 40% !important;
    }
}

@media (min-width: 1040px) {
    .w-lg-100 {
        width: 100% !important;
    }
    .w-lg-95 {
        width: 95% !important;
    }
    .w-lg-90 {
        width: 90% !important;
    }
    .w-lg-85 {
        width: 85% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-65 {
        width: 65% !important;
    }
    .w-lg-60 {
        width: 60% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-40 {
        width: 40% !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-30rem {
        width: 30rem !important
    }
}

.text-primary {
    color: #b681e9 !important;
}

.waves-card {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(43%, 100%) rotate(268deg);
    width: 100%;
    -webkit-transform: translate(43%, 100%) rotate(268deg);
    -moz-transform: translate(43%, 100%) rotate(268deg);
    -ms-transform: translate(43%, 100%) rotate(268deg);
    -o-transform: translate(43%, 100%) rotate(268deg);
}

.btn-text-primary {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: rgb(var(--primary-color));
}

.btn-text-primary:hover {
    color: rgb(var(--primary-color));
    background: #dabdff;
}

.btn-text-primary:focus,
.btn-text-primary.focus {
    background: #dabdff;
}

.btn-text-success {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #16d381
}

.btn-text-success:hover {
    color: #16d381;
    background: #d1ffe8;
}

.btn-text-success:focus,
.btn-text-success.focus {
    background: #a6ffda;
}

.btn-text-info {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #1f7cf5
}

.btn-text-info:hover {
    color: #1f7cf5;
    background: #d3e7ff;
}

.btn-text-info:focus,
.btn-text-info.focus {
    background: #a5cdff;
}

.btn-text-warning {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #ffb22b
}

.btn-text-warning:hover {
    color: #ffb22b;
    background: #ffeed1;
}

.btn-text-warning:focus,
.btn-text-warning.focus {
    background: #fcdfb5;
}

.btn-text-danger {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #ef5350
}

.btn-text-danger:hover {
    color: #ef5350;
    background: #ffd8d8;
}

.btn-text-danger:focus,
.btn-text-danger.focus {
    background: #ffb1b1;
}

.btn-text-dark {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #172533
}

.btn-text-dark:hover {
    color: #172533;
    background: #a9adb3;
}

.btn-text-dark:focus,
.btn-text-dark.focus {
    background: #5a626b;
}

.btn-opacity-primary {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    background: #e9d9ff;
    color: rgb(var(--primary-color));
}

.btn-opacity-primary:hover {
    color: rgb(var(--primary-color));
    background: #d8bbff;
}

.btn-opacity-primary:focus,
.btn-opacity-primary.focus {
    background: #d2b0ff;
}

.btn-opacity-success {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #16d381;
    background: #d5ffea;
}

.btn-opacity-success:hover {
    color: #16d381;
    background: #c2ffe0;
}

.btn-opacity-success:focus,
.btn-opacity-success.focus {
    background: #abffd5;
}

.btn-opacity-info {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #1f7cf5;
    background: #daebff;
}

.btn-opacity-info:hover {
    color: #1f7cf5;
    background: #c9e2ff;
}

.btn-opacity-info:focus,
.btn-opacity-info.focus {
    background: #b3d4fd;
}

.btn-opacity-warning {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #ffb22b;
    background: #fff3df;
}

.btn-opacity-warning:hover {
    color: #ffb22b;
    background: #ffedce;
}

.btn-opacity-warning:focus,
.btn-opacity-warning.focus {
    background: #ffe5b7;
}

.btn-opacity-danger {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #ef5350;
    background: #ffe0e0;
}

.btn-opacity-danger:hover {
    color: #ef5350;
    background: #fdc5c5;
}

.btn-opacity-danger:focus,
.btn-opacity-danger.focus {
    background: #ffbaba;
}

.btn-opacity-dark {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: #172533;
    background: #d8dde3;
}

.btn-opacity-dark:hover {
    color: #172533;
    background: #afb2b8;
}

.btn-opacity-dark:focus,
.btn-opacity-dark.focus {
    background: #afb2b8;
}

.text-error {
    background: linear-gradient(90deg, rgb(245, 12, 90) 30%, rgb(58, 10, 235));
    background-clip: text;
    -webkit-text-fill-color: rgba(130, 13, 240, 0.37);
}

@media (min-width:1020px) {
    .text-error {
        font-size: 10rem;
    }
}

.content-body {
    flex: 1 1 auto;
}

.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100vw;
    height: 100vh;
}

.asidebar {
    top: 0;
    bottom: 0;
    left: -18.25rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 18.25rem;
    box-shadow: 0 .145rem .475rem 0 rgba(161, 172, 184, 0.21);
    z-index: 10;
}

.asidebar:not(.showNav) {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.showNav:is(.showNav) {
    overflow-y: hidden;
}

.showNav {
    left: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@media (min-width: 840px) {
    .content-body {
        padding-left: 18.25rem;
    }
    .asidebar {
        left: 0;
    }
    .button-asidenav {
        display: none !important;
    }
}

a {
    color: #172533;
}

.nav-link:hover {
    color: rgb(var(--primary-color));
}

.dropdown-menu .router-link-active {
    background-color: rgb(var(--primary-color), 75%);
    color: var(--white) !important
}

:root {
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-primary-rgb: 51, 133, 255;
    --bd-violet-rgb: 135, 88, 197;
    --bd-accent-rgb: 255, 100, 151;
    --bd-pink-rgb: 214, 51, 151;
    --bd-yellow-rgb: 255, 225, 116;
}

.bg-font {
    background-image: radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-yellow-rgb), 0.5), transparent 50%);
}

.nav-link {
    padding: 0.4rem .75rem;
}

.dropdown-menu {
    border: 1px solid rgb(0, 0, 0, 5%);
    border-radius: 0.65rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #d7d9db;
    width: .5rem;
    transition: .3s all ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    transition: .3s all ease-in-out;
    background: #ced0d3;
}

.badge-primary {
    color: #620ad3;
    background-color: #d4b2ff;
}

.badge-success {
    color: #0eae52;
    background-color: #c9ffe0b5;
}

.badge-danger {
    color: #e3342f;
    background-color: #ffc2c0;
}

.badge-warning {
    color: #ffa810;
    background-color: #fff0d6;
}

.badge-info {
    color: #0b93ff;
    background-color: #dbefff;
}

.bg-primary {
    background-color: rgb(var(--primary-color)) !important;
}

.bg-primary {
    background-color: rgb(var(--primary-color)) !important;
}

.bg-success {
    background-color: #06d79c !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: #08d198 !important;
}

.bg-info {
    background-color: #398bf7 !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #307adb !important;
}

.bg-warning {
    background-color: #ffb22b !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
    background-color: #eea527 !important;
}

.bg-danger {
    background-color: #ef5350 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #df4a48 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #b681e9 !important
}
