
body{
    overflow-x: hidden;
}
.s2{
    -webkit-animation-duration:2s !important;
    animation-duration:2s !important;
    -webkit-animation-duration:2s !important;
    animation-duration:2s !important;
}
.s3{
    animation-duration: 3s !important;
    -webkit-animation-duration:3s !important;
    animation-duration:3s !important;
    -webkit-animation-duration:3s !important;
    animation-duration:3s !important;
}
.label-form{
    top: -25%;
    left:1.2rem;
    padding-left: 1rem;
}
.form, .form-contact{
    background-color: #ffffff00;
    border-radius:2rem;
    resize: none;
    transition: all .3s;
}
.form:focus, .form-contact:focus{
    transition: all .3s;
    background-color: #ffffff00;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.219);
}
.form-contact:focus > * .label-form{
    transform: rotate(34deg);
    /* animation: 1s  voltea infinite linear; */
}
.form, .form::placeholder, .form:focus{
    color:white
}
.form-contact::placeholder,.form-contact, .form-contact:focus{
    color:#ffffff
}
.vh-mod{
    height: 65vh;
}
.display-5 {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.2;
}
.w-xs-50{
    width: 90%;
}
.img_profile_coment{
    height: 2.5rem;
    width: 2.5rem;
}
.img_profile_emp{
    height: 8rem;
    width: 8rem;
}
.img_profile_user{
    height: 5rem;
    width: 5rem;
}
.border-style-leaf{
    border-top-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
}
.justify-content-end-sm{
    justify-content: flex-end;
}
.pt-7{
    padding-top: 4rem;
}
.bg-home{
    background-image: url(../img/contactanos.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-right-radius: 84%;
    filter: brightness(0.5);
}
.overflow{
    overflow: hidden;
}
.bg-image-50{
    background: linear-gradient(197deg, #e84941, transparent);
}
.bg-img-miles{
    background-image: url(../img/contactanos.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-home-color{
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    background-image: linear-gradient(316deg, #ec4762, #fc8148);
    box-shadow: 11px 9px 18px 2px #00000036;
}
.bg-roulex{
    background-image: linear-gradient(316deg, #ec4762, #fc82489e);
}
.top--20{
    top: -20%;
    transition: all .8s;
    opacity: 0;
}
.shadow{
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    top:0%;
    opacity: 1;
}
.bg-roulex-footer{
    background-image: linear-gradient(316deg, #ec4762, #fc8148ef);
}
.pb-7{
    padding-bottom:4rem;
}
.fletch{
    background-image: linear-gradient(0deg, #f8f9fa 64%, white 64%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
}
.circle-categorye{
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    clip-path: circle();
    width: 100%;
    height: 9rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.animation_deslice{
    animation: 2s deslice infinite  cubic-bezier(0.73, 1.42, 0.95, 1.35);
    -webkit-animation: 4s deslice infinite  cubic-bezier(0.73, 1.42, 0.95, 1.35);
}
@keyframes deslice{
    0%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    20%{
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
    40%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    60%{
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
}
    80%{
        transform: translateY(0px) rotate(0deg);
        -webkit-transform: translateY(0px) rotate(0deg);
        -moz-transform: translateY(0px) rotate(0deg);
        -ms-transform: translateY(0px) rotate(0deg);
        -o-transform: translateY(0px) rotate(0deg);
}
    100%{
        transform: translateY(0px) rotate(360deg);
        -webkit-transform: translateY(0px) rotate(360deg);
        -moz-transform: translateY(0px) rotate(360deg);
        -ms-transform: translateY(0px) rotate(360deg);
        -o-transform: translateY(0px) rotate(360deg);
    }
}
.bg-roulex2{
    background-image: linear-gradient(316deg, #ec4762, #fc82489e);
}
.row-padding{
    padding-left:6rem !important;
    padding-right:6rem !important
}
.rounded-left{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.user-fort{
    background-image: url(../img/contactanos.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-black-50{
    background-color: #00000080;
}
.bg-black-70{
    background-color: #0000009c;
}
.text-danger-marron{
    color:#1297d4;
}
.instagram-card{
    background-image: linear-gradient(45deg, #ff845c, #e94050);
}
.social-empress{
    background-image:linear-gradient(45deg, #e68778,#ef5253)
}
.plan-1{
    background-image:linear-gradient(45deg, #fd8349,#fffb00)
}
.plan-2{
    background-image: linear-gradient(45deg, #ffd900, #e01a76);
}
.plan-3{
    background-image: linear-gradient(45deg, #f3167d, #ca36f4);
}
.plan-4{
    background-image: linear-gradient(45deg, #c71df7,#fd8349);
}
.d-grid{
    display: grid;
}
.border-md{
    border-radius: 2rem;
}
.facebook-card{
    background-image: linear-gradient(45deg, #a8d2f7, #1790e6);
}
.twitter-card{
    background-image: linear-gradient(45deg, #30363c,#343a40);
}
.img-user-fort{
    width:70px;
    height:70px
}
.img-h{
    min-height: 63vh;
    max-height: 63.5vh;
}
img{
    image-rendering: -moz-crisp-edges;
}
.galery-img{
    position: relative;
    transition: all .5s;
    min-height: 38vh;
    max-height: 38.5vh;
}
.galery:hover .galery-img::before{
    transition: all .5s;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rounded-card{
    border-top-left-radius: 5rem !important;
    border-bottom-right-radius: 5rem !important;
}
.pt-5-sm-7{
    padding-top: 8.5rem;
}
.vh-100-h{
    height: 100vh !important;
}
.d-sm-none-block{
    display:none;
}
.d-sm-block-none{
    display:block;
}
.bg-form{
    border-top-right-radius: 15% !important;
    border-bottom-left-radius: 15% !important;
    background-image: linear-gradient(316deg, #ec4762, #fc82489e);
}
.vh-100-home {
    height: 100vh !important;
}
.d-flex-none{
    display: flex;
}
.rotate-celebration{
    transform: rotate(267deg);
}
.img-empresa{
    box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 26%);
    border: 15px solid #fff;
    width: 70%;
    height: 60%;;
    position: absolute;
    background-size: 100% 100%;
    background-repeat:no-repeat
}
.information-jobs{
    transition: all .5s;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.container-info{
    transform: translateY(41px);
    opacity: 0;
}
.container-info h4{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.container-info h4:hover{
    transition: all .5s;
    color:#2db9fa;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.item-jobs:hover .information-jobs{
    transition: all .7s;
    opacity: 1;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
}
.item-jobs:hover .container-info{
    transition: all .7s;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
}
.img-top{
    top: 0;
    left: 0;
    background-image: url(../img/Penguins.jpg);
}
.img-bottom{
    bottom: 0;
    right: 0;
    background-image: url(../img/Penguins.jpg);
}
.text-small{
    font-size: .7rem;
}
footer{
    font-size: .8rem !important;
    line-height: 2.1;
}
.lh-normal{
    line-height: 1.6 !important;
}
.lh-md{
    line-height: 2.1;
}
@media (min-width:768px){
    .d-sm-none-block{
        display:block;
    }
    .d-sm-block-none{
        display:none;
    }
}
.top-10{
    top:3%;
    left:0
}
@media screen and (min-width:760px){
    /* .img_home{
        height: 98vh;
    } */
    .balancing{
        animation: balance 5s infinite;
    }
    @keyframes balance{
        0%{transform: rotate(-3deg);}
        50%{transform: rotate(3deg);}
        100%{transform: rotate(-3deg);}
    }
    .w-xs-50{
        width: 70%;
    }
    .img_profile_coment{
        height: 4rem;
        width: 4rem;
    }
    .img_profile_emp{
        height: 10rem;
        width: 10rem;
    }
    .img_profile_user{
        height: 6rem;
        width: 6rem;
    }
    .justify-content-end-sm{
        justify-content: start;
    }
    .pt-5-sm-7{
        padding-top: 3rem;
    }
}
@media (max-width: 950px){
    .w-50-75{
        width: 60%;
    }
}
@media (max-width: 720px){
    .w-50-75{
        width: 95%;
    }
    .display-4 {
        font-size: 3rem
    }
}
@media(max-width:400px){
    .display-4 {
        font-size: 2rem
    }
    h1{
        font-size:1.9rem;
    }
    .display-5{
        font-size:2rem;
    }
    h2, .h2 {
        font-size: 1.6rem;
    }
    .display-3{
        font-size: 3.9rem;
    }
}
@media (max-width: 1150px){
    .pt-7 {
        padding-top: 7rem;
    }
    .row-padding{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .display-3{
        font-size: 3.5rem;
    }
    .display-4{
        font-size:2.5rem;
    }
}
.vh__promedi{
    min-height: 100vh;
}
@media (max-height: 560px){
    .vh-100-h{
        height: 140vh !important;
    }
}
@media (max-height: 450px){
    .vh-100-h{
        height: 170vh !important;
    }
    .vh-100-home{
        height: 120vh !important;
    }
}
@media (max-height: 374px){
    .vh-100-h{
        height: 200vh !important;
    }
}
@media(max-width:768px){
    .bg-home{
        border-bottom-right-radius: 0%;
    }
    .d-flex-none{
        display: none;
    }
    .top-10{
        top: 0;
    }
}
